.navBar {
  background-color: #1f2833;
  width: 100%;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 1em;
    padding: 0;
  }
}

.linkItem {
  padding: 20px;
}

.link {
  font-size: 1.2em;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #66fcf1;
}

.push {
  margin-left: auto;
}

.appName {
  font-size: 2em;
  color: #66fcf1;
  font-weight: 700;
}
